body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    background-image:url(" https://assets.nflxext.com/ffe/siteui/vlv3/fc164b4b-f085-44ee-bb7f-ec7df8539eff/e8a81955-6c75-4cd2-add0-5492eb26cc1f/PK-en-20230814-popsignuptwoweeks-perspective_alpha_website_medium.jpg   ") ;
}

.signin-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.5); /* Transparent black background */

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 100px;
}

img {
    max-width: 100px;
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

form label {
    display: block;
    font-weight: bold;
    margin-bottom: 6px;
}

form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.signup-link {
    margin-top: 20px;
}

